<div [sJss]="{
  display:'flex',
  flexDirection:{xs:'column', md:'row'}
  }">
  <div [sJss]="
    {display:'flex',
    flexDirection:'column',
    width:{xs:'100%', md:'35%'}}">
    <div [sJss]="{display:'flex',
      justifyContent:'center',
      padding:{xs:theme.spacing(2), md:theme.spacing(5)},
      backgroundColor:theme.palette.primary.main,
      color:theme.palette.primary.contrastText
      }" >

      <span [sJss]="{color:theme.palette.primary.contrastText}">
        MY CARGO APP
      </span>
    </div>
    <h5 [sJss]="{padding:{xs:theme.spacing(3), md:'40px'}, backgroundColor:{xs:theme.palette.primary.main, md:theme.palette.primary.light}}">jimmy</h5>
    <button (click)="clicked()">sd</button>


    <app-get-address></app-get-address>
    <app-package-details></app-package-details>
    <app-weigh-details></app-weigh-details>
    <app-shipping-summary></app-shipping-summary>
  </div>
  <app-map-view fxFlex></app-map-view>
</div>






