<sDiv [dFlex] [flexDirection]="{xs:'column', md:'row'}">

  <sDiv [dFlex]
        [flexDirection]="'column'"
        [width]="{xs:'100%', md:'35%'}">
    <sDiv [dFlex]
          [justifyContent]="'center'"
          [p]=7
          [bgColor]="theme.palette.primary.main"
          [color]="theme.palette.primary.contrastText">
      MIM CARGO APP
    </sDiv>


    <app-get-address></app-get-address>
    <app-package-details></app-package-details>
    <app-weigh-details></app-weigh-details>
    <app-shipping-summary></app-shipping-summary>
  </sDiv>
  <app-map-view fxFlex></app-map-view>
</sDiv>




