
<!--{{value$ | async}}-->

<!--<div *ngFor="let placeResult of placesResults$ | async; index as i">
  <div>{{i}}</div>
  <app-place-auto-complete (placeChanged)="placeChanged($event)" defaultPlace={{placeResult.formatted_address}}></app-place-auto-complete>
</div>

<div>
  >
</div>-->


<app-place-auto-complete (placeChanged)="departureAddress($event)" defaultPlace=""></app-place-auto-complete>
<app-place-auto-complete (placeChanged)="arrivalAddress($event)" defaultPlace=""></app-place-auto-complete>

<!--<google-map
  height="500px"
  width="100%">
  <map-marker
    *ngFor="let marker of markers$ | async"
    [position]="marker.getPosition()"

  >
  </map-marker>
</google-map>-->

<app-map-view></app-map-view>

<div *ngFor="let placeResult of placesResults$ | async; index as i">
  <div>{{i}}</div>
  {{placeResult.geometry?.location}}
</div>
